#A {
    height: 60px;
    width: 310px;
    background: #d9d9d9;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
}

#all {
    height: 220px;
    width: 330px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px;
}
 #wrap {
     display: flex;
     margin-top: 10px;
 }

 #container {
     display: flex;
 }
 #target {
 display: flex}


.B {
    height: 60px;
    width: 230px;
    background: #d9d9d9;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
}


.C {
    height: 60px;
    width: 70px;
    background: #d9d9d9;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
}

.D {
    height: 60px;
    width: 70px;
    background: #d9d9d9;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
}

.E {
    height: 60px;
    width: 70px;
    background: #d9d9d9;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
}

.F {
    height: 130px;
    width: 70px;
    background: #d9d9d9;
    box-sizing: border-box;
    text-align: center;
    padding-top: 55px;
    margin-top: 10px;
    margin-left: 10px;

}