#HomeAbout {
    display: flex;
}

#wrap {
    display: flex;
    margin-top: 10px;
}

.Home {
    height: 250px;
    width: 200px;
    background: #2269bb;
    box-sizing: border-box;
    text-align: center;
    padding-top: 110px;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.About {
    height: 250px;
    width: 200px;
    background: #2269bb;
    box-sizing: border-box;
    text-align: center;
    padding-top: 110px;
    color: white;
    font-size: 20px;
}

.Kabobs {
    height: 160px;
    width: 410px;
    background: #2269bb;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 70px;
    color: white;
    font-size: 20px;
}

.Shishkabobs {
    height: 160px;
    width: 130px;
    background: #16457a;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding-top: 70px;
    font-size: 14px;
}

.BBQkabobs {
    height: 160px;
    width: 130px;
    background: #16457a;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding-top: 70px;
    margin-left: 10px;
    font-size: 14px;
}

.Summerkabobs {
    height: 160px;
    width: 130px;
    background: #16457a;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding-top: 70px;
    margin-left: 10px;
    font-size: 14px;
}

