#wrap {
    display: flex;
    justify-content: center;
}

.post {
    height: 240px;
    width: 200px;
    border: 1px solid silver;
    margin-left: 20px;
}

.avatar1 {
    height: 70px;
    width: 70px;
    border: 1px solid #888888;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 68px;
    position: relative;
    top: 25px;
    background: white;
}

.avatar2 {
    height: 70px;
    width: 70px;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 68px;
    position: relative;
    top: 25px;
    background: white;
}

.avatar3 {
    height: 70px;
    width: 70px;
    border: 1px solid #888888;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 68px;
    position: relative;
    top: 25px;
    background: white;

}

h4  {
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 57px;
}

.p1 {
    text-align: center;
    font-size: 13px;
    width: 195px;
    color: #ababab;
    font-weight: inherit;
    line-height: 23px;
}

.p2 {
    text-align: center;
    font-size: 13px;
    width: 195px;
    color: #ababab;
    font-weight: inherit;
    line-height: 5px;
}

.LearnMore {
    height: 30px;
    width: 130px;
    border: 2px solid #888888;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 7px;
    margin-left: 37px;
    margin-top: 25px;
}

i {
    color: #ec9114;
    margin-left: 25px;
    margin-top: 25px;

}