#wrap {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

h3 {
    text-align: center;
    font-weight: lighter;
    color: #696767;
}

h4 {
    text-align: center;
    color: #b9703c;
    font-weight: initial;
}

i {
    font-size: 20px;
    padding-left: 65px;
}
.Service1 {
    height: 210px;
    width: 150px;
    box-sizing: border-box;
    box-shadow: 2px 1px 1px #e5e5e5;
}

.Service2 {
    height: 210px;
    width: 150px;
    box-sizing: border-box;
    box-shadow: 2px 1px 1px #e5e5e5;
    margin-left: 10px;
}

.Service3 {
    height: 210px;
    width: 150px;
    box-sizing: border-box;
    box-shadow: 2px 1px 1px #e5e5e5;
    margin-left: 10px;
}

.Service4 {
    height: 210px;
    width: 150px;
    box-sizing: border-box;
    box-shadow: 2px 1px 1px #e5e5e5;
    padding-left: 10px;
}

p {
    width: 130px;
    font-size: 12px;
    color: silver;
    text-align: center;
}

.LearnMore {
    height: 25px;
    width: 73px;
    background: #55c3b6;
    font-size: 11px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 6px;
    color: white;
    margin-left: 30px;
    margin-top: 15px;
}
