:root {
    --black-color: #0B2330;
    --space-color: #375361;
}

body {
    width: 1440px;
    margin: 0;
}

.display {
    display: flex;
}

.header {
    width: 1440px;
}

/*Similar btn*/
.btn_features, .btn_solutions, .btn_case, .btn_integrations {
    border: none;
    background: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
    padding: 0;
    cursor: pointer;
}

.btn_features:hover, .btn_solutions:hover, .btn_case:hover, .btn_integrations:hover {
    color: #f8c501;
}

.nav_btn_start:hover, .btn_learn:hover, .btn_learn:hover, .btn_read:hover, .header_content_btn_start:hover,
.header_content_btn_talk:hover, .sprig_btn_start:hover, .btn_see:hover, .dark_btn_start:hover {
    box-shadow: 0 3px 23px 5px rgba(38, 32, 32, 0.55);
    -webkit-box-shadow: 0 3px 23px 5px rgba(38, 32, 32, 0.55);
    -moz-box-shadow: 0 3px 23px 5px rgba(38, 32, 32, 0.55);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.header_content_btn_start, .sprig_btn_start, .dark_btn_start {
    background-color: #F9C600;
    border: 1px solid #F9C601;
    border-radius: 4px;
    height: 54px;
    width: 163px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    transition: box-shadow, transform .35s;
    cursor: pointer;
}

.header_logo {
    margin-top: 15px;
}

.header_wrapper {
    height: 83px;
}

.nav_menu_item a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);

}

.nav_menu_item a:hover {
    color: #f8c501;
}

.nav_menu_item img {
    margin-bottom: 2px;
}

.nav_menu {
    column-gap: 56px;
    align-items: center;
}

.top_bar {
    column-gap: 170px;
    margin-left: 36px;
}

.nav_menu_item_sign a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
}

.nav_menu_item_sign a:hover {
    color: #f8c501;
}

.nav_menu_item_talk a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
}

.nav_menu_item_talk a:hover {
    color: #f8c501;
}

.nav_menu_items_right {
    margin-left: 122px;
    column-gap: 24px;
    margin-right: 32px;
    align-items: center;
}

.nav_btn_start {
    background: var(--black-color);
    border: 1px solid var(--black-color);
    box-sizing: border-box;
    border-radius: 4px;
    height: 54px;
    width: 163px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    transition: box-shadow, transform .35s;
    cursor: pointer;
    margin-top: 15px;
}

.header_content_text {
    width: 436px;
    margin-left: 147px;
    margin-top: 115px;
}

.header_content_text h1 {
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 1px;
    color: var(--black-color);
}

.header_content_btn {
    margin-left: 147px;
}

.header_content_left {
    row-gap: 34px;
    flex-direction: column;
    width: 730px;
}

.header_content_text p {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: var(--space-color);
}

.header_content_btn_talk {
    height: 54px;
    width: 156px;
    border: 1px solid var(--black-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    transition: box-shadow, transform .35s;
    cursor: pointer;
}

.header_content_btn {
    column-gap: 16px;
}

.img_content_header {
    position: relative;
    width: 100%;
}

.yellow_png {
    position: absolute;
    right: 75px;
    top: 83px;
    z-index: -1;
}

.companies {
    margin-bottom: 192px;
    width: 1440px;
}

.companies h2 {
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: var(--black-color);
    width: 547px;
    margin-left: 447px;
    margin-top: 189px;
    margin-bottom: 59px;
}

.companies_logos {
    margin-left: 174px;
    column-gap: 0;
}

.col-gap-30 {
    column-gap: 30px;
}

.green_box {
    height: 494px;
    width: 1376px;
    background: #51CEBC;
    border-radius: 10px;
    margin-left: 32px;
    column-gap: 20px;
    margin-bottom: 191px;
}

.green_box h3 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
    width: 557px;
    margin-top: 114px;
    margin-bottom: 35px;
    height: 120px;
}

.green_box p {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: var(--black-color);
    width: 533px;
}

.sprig_box h3 {
    height: 80px;
    width: 711px;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.34px;
    color: var(--black-color);
    margin: 0;

}

.sprig_box_content {
    flex-direction: column;
    align-items: center;
    row-gap: 57px;
}

.sprig_btn_start {
    margin-top: 127px;
    margin-left: 638px;
    margin-bottom: 160px;
}

.purple_box {
    height: 537px;
    width: 1260px;
    background: #BD78F0;
    border-radius: 10px;
    margin-left: 148px;
    box-sizing: border-box;
    margin-bottom: 136px;
}

.features_img {
    position: relative;
    right: 116px;
}

.purple_box_text {
    margin-top: 103px;
}

.purple_box_text h3 {
    width: 485px;
    height: 192px;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: var(--black-color);
    margin: 0;
}

.purple_box_text p {
    height: 56px;
    width: 550px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--black-color);
    margin-top: 39px;
}

.solutions_box_text h3 {
    height: 144px;
    width: 593px;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: var(--black-color);
    margin: 0;
}

.solutions_box_text p {
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: var(--space-color);
    width: 500px;
    margin-bottom: 225px;
}

.solutions_box_content {
    margin-left: 148px;
}

.contextual_box_content {
    margin-left: 148px;
    height: 348px;
    margin-bottom: 133px;
}

.contextual_box_txt_btn h3 {
    margin-top: 23px;
    margin-bottom: 29px;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
}

.contextual_box_txt_btn p {
    width: 484px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--space-color);
    margin-right: 263px;
    margin-bottom: 64px;
}

.btn_learn, .btn_read {
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    height: 54px;
    width: 144px;
    cursor: pointer;
    transition: box-shadow, transform .35s;
}

.video_questions_box {
    margin-left: 148px;
    margin-bottom: 129px;
}

.video_questions_box_content h3 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
    margin-top: 23px;
    margin-bottom: 29px;
}

.video_questions_box_content p {
    width: 484px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--space-color);
    margin-right: 263px;
}

.concept_testing_box {
    margin-left: 148px;
    margin-bottom: 136px;
}

.concept_testing_box_content h3 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
    margin-top: 23px;
    margin-bottom: 29px;
}

.concept_testing_box_content p {
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--space-color);
    width: 506px;
    margin-right: 241px;
    margin-bottom: 36px;
}

.concept_testing_btn {
    column-gap: 8px;
    margin-top: 18px;
}

.btn_contextual,
.btn_videos {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #61757E;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn_contextual:hover,
.btn_videos:hover {
    color: #f89501;
    background-color: #e0e0e0;
}

.btn_concept {
    background: #FE9F28;
    border-radius: 4px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--black-color);
    border: none;
    cursor: pointer;
}

.btn_concept:hover {
    color: #fa0707;
}

.features_box_wrapper {
    height: 960px;
    background: #F2EDE7;
    position: relative;
    box-sizing: border-box;
}

.features_top_content {
    margin-left: 122px;
    padding-top: 96px;
    margin-bottom: 100px;
}

.features_top_content h2 {
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: var(--black-color);
    width: 1064px;
    margin-top: 7px;
    margin-bottom: 0;
}

.integrations_box_wrapper {
    height: 818px;
    box-sizing: border-box;
}

.features_bottom_content {
    margin-left: 122px;
}

.features_bottom_content_left {
    margin-left: 141px;
}

.h4_beak_1 h4 {
    padding-right: 320px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--black-color);
    margin-top: 25px;
    margin-bottom: 25px;
    width: 245px;
}

.arrow {
    margin-top: 6px;
    margin-left: 8px;
}

.h28 {
    height: 28px;
    margin-bottom: 22.07px;
}

.h4_beak_1 img {
    margin-top: 30px;
}

.target_p {
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--space-color);
    margin-bottom: 36px;
    margin-top: 0;
}

.conduct_p {
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--space-color);
    margin-bottom: 35px;
    width: 563px;
    margin-top: 0;
}

.btn_learn_features {
    background: none;
    border: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: var(--black-color);
    padding-left: 0;
    cursor: pointer;
}

.btn_learn_features:hover {
    color: #f8c501;
}

.h4_beak_2 h4 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--black-color);
    padding-right: 439px;
    width: 127px;
    margin-top: 25px;
    margin-bottom: 22px;
}

.h4_beak_2 img {
    margin-top: 29px;
}

.h4_beak_3 h4 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--black-color);
    padding-right: 446px;
    width: 120px;
    margin-top: 25px;
    margin-bottom: 26px;
}

.h4_beak_3 img {
    margin-top: 29px;
}

.integrations_box_content {
    margin-top: 184px;
    margin-left: 148px;
    margin-right: 183px;
}

.btn_integrations {
    margin-bottom: 15px;
}

.img_icons {
    margin-top: 160px;
}

.integrations_box_content h4 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
    margin: 0;
    width: 669px;
}

.integrations_box_content p {
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--space-color);
    width: 667px;
    margin-top: 37px;
    margin-bottom: 36px;
}

.btn_see {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    height: 54px;
    width: 208px;
    cursor: pointer;
    transition: box-shadow, transform .35s;
}

.beige_yellow_box_wrapper {
    margin-left: 32px;
    margin-bottom: 46px;
}

.beige_box_wrapper {
    width: 582px;
    height: 584px;
    background: #F2EDE7;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
}

.beige_box_content {
    margin-left: 116px;
    padding-top: 80px;
}

.beige_box_content h4 {
    margin: 18px 0 27px 0;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: var(--black-color);
    width: 314px;
}

.beige_box_content p {
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--black-color);
    margin-bottom: 36px;
    width: 325px;
}

.yellow_box_wrapper {
    background: #F9C600;
    border-radius: 0 10px 10px 0;
    width: 794px;
    height: 584px;
}

.yellow_box_content {
    margin-left: 116px;
    margin-top: 79px;
}

.yellow_66 {
    position: absolute;
}

.yellow_box_content h3 {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: var(--black-color);
    width: 557px;
    margin-bottom: 81px;
}

.photo_man {
    margin-right: 24px;
    cursor: pointer;
    transition: transform .35s;
}

.photo_man:hover {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.nav_initials_item {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
}

.p_initials_item {
    margin-top: 14px;
    margin-bottom: 0;
}

.p_growth {
    margin: 0;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #2F3F48;
}

.nav_initials_item:hover {
    color: #3a9384;
}

.dark_top_wrapper {
    height: 423px;
    width: 1440px;
    background: var(--black-color);
}

.dark_top_content {
    box-sizing: border-box;
    padding-top: 46px;
    text-align: center;
    width: 1440px;
}

.dark_top_content h2 {
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    margin: 0;
}

.dark_btn_start {
    margin-top: 36px;
    margin-bottom: 95px;
}

.dark_top_content p {
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 399px;
    width: 642px;
    margin-top: 31px;
    margin-bottom: 0;
}

hr {
    background: var(--space-color);
    width: 1376px;
    height: 1px;
    text-align: center;
    border: none;
}

.dark_footer_wrapper {
    height: 678px;
    width: 1440px;
    background: var(--black-color);
    box-sizing: border-box;
    margin-bottom: 0;
}

.dark_footer_content {
    padding-top: 80px;
    margin-left: 32px;
    column-gap: 110px;
}

.footer_nav_menu_item a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #94A0A4;
    width: 162px;
}

.footer_nav_menu_item a:hover, .footer_bottom_info a:hover {
    color: #388391;
}

.footer_nav_menu_item_first {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #F9C600;
    cursor: text;
}

.footer_nav_menu {
    column-gap: 108px;
}

.nav_menu_items {
    flex-direction: column;
    row-gap: 13px;
}

.footer_top_bottom {
    flex-direction: column;
}

.footer_bottom_info {
    margin-top: 69px;
}

.footer_bottom_info a {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #94A0A4;
}

.logo_bottom {
    margin-left: 589px;
    column-gap: 24px;
}