body {
    background-color: rgb(43, 43, 43);
}
.x {
    height: 50px;
    width: 200px;
    background: rgb(43, 43, 43);
    box-sizing: border-box;
    padding: 12px 50px 10px 60px;
    border: 4px solid orange;
    border-radius: 200px;
    color: orange;
    margin: 250px 650px 10px 650px;


}
.xx {
    height: 50px;
    width: 200px;
    background: rgb(43, 43, 43);
    box-sizing: border-box;
    padding: 12px 50px 10px 60px;
    border: 4px solid rgb(113, 238, 255);
    border-radius: 200px;
    color: rgb(113, 238, 255);
    margin: 0 650px 10px 650px;
}

.xxx {
    height: 50px;
    width: 200px;
    background: rgb(43, 43, 43);
    box-sizing: border-box;
    padding: 12px 50px 10px 60px;
    border: 4px solid rgb(255, 75, 240);
    border-radius: 200px;
    color: rgb(255, 75, 240);
    margin: 0 650px 10px 650px;
}

.xxxx {
    height: 50px;
    width: 200px;
    background: rgb(43, 43, 43);
    box-sizing: border-box;
    padding: 12px 50px 10px 60px;
    border: 4px solid rgb(255, 69, 69);
    border-radius: 200px;
    color: rgb(255, 69, 69);
    margin: 0 650px 10px 650px;
}